#c1 > .front {
	background: url('img/A1.jpg');

}
#c2 > .front {
	background: url('img/K1.jpg');

}
#c3 > .front {
	background: url('img/Q1.jpg');
	

}

#c4 > .front {
	background: url('img/J1.jpg');

}
#c5 > .front {
	background: url('img/101.jpg');

}
#c6 > .front {
	background: url('img/91.jpg');

}
#c7 > .front {
	background: url('img/81.jpg');

}
#c8 > .front {
	background: url('img/71.jpg');

}
#c9 > .front {
	background: url('img/61.jpg');

}
#c10 > .front {
	background: url('img/51.jpg');

}
#c11 > .front {
	background: url('img/41.jpg');

}
#c12 > .front {
	background: url('img/31.jpg');

}
#c13 > .front {
	background: url('img/21.jpg');

}
#c14 > .front {
	background: url('img/A2.jpg');

}
#c15 > .front {
	background: url('img/K2.jpg');

}
#c16 > .front {
	background: url('img/Q2.jpg');

}
#c17 > .front {
	background: url('img/J2.jpg');

}
#c18 > .front {
	background: url('img/102.jpg');

}
#c19 > .front {
	background: url('img/92.jpg');

}
#c20 > .front {
	background: url('img/82.jpg');

}
#c21 > .front {
	background: url('img/72.jpg');

}
#c22 > .front {
	background: url('img/62.jpg');

}
#c23 > .front {
	background: url('img/52.jpg');

}
#c24 > .front {
	background: url('img/42.jpg');

}
#c25 > .front {
	background: url('img/32.jpg');

}
#c26 > .front {
	background: url('img/22.jpg');

}
#c27 > .front {
	background: url('img/A3.jpg');

}
#c28 > .front {
	background: url('img/K3.jpg');

}
#c29 > .front {
	background: url('img/Q3.jpg');

}
#c30 > .front {
	background: url('img/J3.jpg');

}
#c31 > .front {
	background: url('img/103.jpg');

}
#c32 > .front {
	background: url('img/93.jpg');

}
#c33 > .front {
	background: url('img/83.jpg');

}
#c34 > .front {
	background: url('img/73.jpg');

}
#c35 > .front {
	background: url('img/63.jpg');

}
#c36 > .front {
	background: url('img/53.jpg');

}
#c37 > .front {
	background: url('img/43.jpg');

}
#c38 > .front {
	background: url('img/33.jpg');

}
#c39 > .front {
	background: url('img/23.jpg');

}
#c40 > .front {
	background: url('img/A4.jpg');

}
#c41 > .front {
	background: url('img/K4.jpg');

}
#c42 > .front {
	background: url('img/Q4.jpg');

}
#c43 > .front {
	background: url('img/J4.jpg');

}
#c44 > .front {
	background: url('img/104.jpg');

}
#c45 > .front {
	background: url('img/94.jpg');

}
#c46 > .front {
	background: url('img/84.jpg');

}
#c47 > .front {
	background: url('img/74.jpg');

}
#c48 > .front {
	background: url('img/64.jpg');

}
#c49 > .front {
	background: url('img/54.jpg');

}
#c50 > .front {
	background: url('img/44.jpg');

}
#c51 > .front {
	background: url('img/34.jpg');

}
#c52 > .front {
	background: url('img/24.jpg');

}